<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxt.ht.svc.product.dao.HtChannelProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dxt.ht.svc.product.entity.HtChannelProductInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="distribution_name" property="distributionName" jdbcType="VARCHAR" />
    <result column="distribution_id" property="distributionId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="data_transfer_type" property="dataTransferType" jdbcType="CHAR" />
    <result column="serve_cost_price" property="serveCostPrice" jdbcType="DECIMAL" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="premium" property="premium" jdbcType="DECIMAL" />
    <result column="suggested_retail_price" property="suggestedRetailPrice" jdbcType="DECIMAL" />
    <result column="intermediary_service_id" property="intermediaryServiceId" jdbcType="VARCHAR" />
    <result column="is_start" property="isStart" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="reamrk" property="reamrk" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="group_product_id" property="groupProductId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, distribution_name, distribution_id, name, data_transfer_type, serve_cost_price, 
    rate, premium, suggested_retail_price, intermediary_service_id, is_start, create_date, 
    create_by, update_date, update_by, reamrk, status, group_product_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ht_channel_product_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>