<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxt.ht.svc.area.dao.JsSysAreaMapper" >
  <resultMap id="BaseResultMap" type="com.dxt.ht.svc.area.entity.JsSysArea" >
    <id column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="parent_codes" property="parentCodes" jdbcType="VARCHAR" />
    <result column="tree_sort" property="treeSort" jdbcType="DECIMAL" />
    <result column="tree_sorts" property="treeSorts" jdbcType="VARCHAR" />
    <result column="tree_leaf" property="treeLeaf" jdbcType="CHAR" />
    <result column="tree_level" property="treeLevel" jdbcType="DECIMAL" />
    <result column="tree_names" property="treeNames" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_type" property="areaType" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findProvinceList" resultMap="BaseResultMap"  >
    select area_name,area_code
    from js_sys_area
    where tree_level = '1'
  </select>

  <select id="findCityList" resultMap="BaseResultMap"  >
    select area_name,area_code
    from js_sys_area
    where tree_level = '2' and parent_code=#{areaCode}
  </select>

  <select id="findAreaList" resultMap="BaseResultMap"  >
    select area_name,area_code
    from js_sys_area
    where tree_level = '3' and parent_code=#{areaCode}
  </select>





</mapper>