<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxt.ht.svc.form.dao.HtClaimSettlementFormMapper" >
  <resultMap id="BaseResultMap" type="com.dxt.ht.svc.form.entity.HtClaimSettlementForm" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="work_order_id" property="workOrderId" jdbcType="VARCHAR" />
    <result column="contact_status" property="contactStatus" jdbcType="CHAR" />
    <result column="again_contact_date" property="againContactDate" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="phone_model" property="phoneModel" jdbcType="VARCHAR" />
    <result column="settlement_data_id" property="settlementDataId" jdbcType="VARCHAR" />
    <result column="phone_brand" property="phoneBrand" jdbcType="VARCHAR" />
    <result column="vice_parts" property="viceParts" jdbcType="VARCHAR" />
    <result column="master_unit" property="masterUnit" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="cause_damage" property="causeDamage" jdbcType="VARCHAR" />
    <result column="maintain_id" property="maintainId" jdbcType="VARCHAR" />
    <result column="is_qualified" property="isQualified" jdbcType="CHAR" />
    <result column="maintain_type" property="maintainType" jdbcType="CHAR" />
    <result column="serve_type" property="serveType" jdbcType="CHAR" />
    <result column="maintain_branch_id" property="maintainBranchId" jdbcType="VARCHAR" />
    <result column="sms" property="sms" jdbcType="VARCHAR" />
    <result column="is_express" property="isExpress" jdbcType="CHAR" />
    <result column="return_name" property="returnName" jdbcType="VARCHAR" />
    <result column="return_phone" property="returnPhone" jdbcType="VARCHAR" />
    <result column="return_area_code" property="returnAreaCode" jdbcType="VARCHAR" />
    <result column="return_address" property="returnAddress" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="call_info_id" property="callInfoId" jdbcType="VARCHAR" />
    <result column="disqualification_disqualification" property="disqualificationDisqualification" jdbcType="LONGVARCHAR" />
    <result column="damage_imgs" property="damageImgs" jdbcType="LONGVARCHAR" />
    <result column="identity_card_imgs" property="identityCardImgs" jdbcType="LONGVARCHAR" />
    <result column="purchase_imgs" property="purchaseImgs" jdbcType="LONGVARCHAR" />
  </resultMap>

    <select id="selectByIds" parameterType="java.util.List" resultType="com.dxt.ht.svc.form.entity.vo.HtClaimSettlementFormVO" >
        SELECT
        id as "id",
        form_id as "formId",
        vice_parts as "viceParts",
        master_unit as "masterUnit",
        status as "status",
        is_express as "isExpress"
        <!--<include refid="Base_Column_List" />-->
        FROM ht_claim_settlement_form
        WHERE form_id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="findExpressCount" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            ht_claim_settlement_form h
        INNER JOIN ht_history hi ON h.form_id = hi.work_order_id
        INNER JOIN sf_order_info sf ON hi.exterior_id = sf.id AND sf.order_id = h.form_id
        WHERE
            h.form_id = #{formId} AND sf.sf_order_id is not null
    </select>

</mapper>